@import "./Spacing.css";
@import "./TronLinkDownload.css";
@import "./TronLinkChecker.css";
@import "./HomePage.css";
@import "./LiveDemo.css";
@import "./HomePageFeatures.css";
@import "./LoginPage.css";
@import "./UserHome.css";
@import "./CreateAlias.css";
@import "./GenerateAddressSegment.css";
@import "./GenAddresses.css";
@import "./MyActivity.css";
@import "./SecretUsers.css";

body{
	line-height: inherit !important;
	font-family: "Nunito" !important;
}

.ui.header, .ui.sub.header{
	font-family: "Nunito Bold" !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.hidden_scroll_y{
    overflow: scroll;
    overflow-y: hidden;
}
.hidden_scroll_x{
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.fullscreen{
	height: 100vh;
	width: 100vw;
}
.fullwidth{
	width: 100%;
}
.fullheight{
	height: 100%;
}

.vertical_center{
	position: relative;
	transform: translate(-50%, -50%);
    float: left;
    top: 50%;
    left: 50%;
}

.text_center{
	text-align: center !important;
}

.dead_center{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

@keyframes image_blur_out{
	0%,50%{
		filter: blur(5px);
		opacity: 0;
	}
	100%{
		filter: blur(0px);
		opacity: 1;
	}
}

.ui.sub.header.lowercase{
    text-transform: lowercase !important;
}
.ui.sub.header.initialcase{
    text-transform: initial !important;
}
.ui.people .sides .side .card{
	padding: 2rem;
	border-radius: 1rem;
}

.border_radius_1em{
	border-radius: 1em !important;
}

.no_padding{
	padding: 0 !important;
}
.no_padding_t{
	padding-top: 0 !important;
}
.no_padding_x{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no_margin{
	margin: 0 !important;
}
.auto_margin{
	margin: 0 auto!important;
}
.padding{
	padding: 2rem !important;
}
.no_margined_t{
	margin-top: 0 !important;
}
.no_margined_b{
	margin-bottom: 0 !important;
}
.margined{
	margin: 2rem !important;
}
.margined_b{
	margin-bottom: 2rem !important;
}
.margined_t{
	margin-top: 2rem !important;
}
.padding_x{
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.margined_x{
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.padding_y{
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.margined_y{
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.padding_l{
	padding-left: 2rem !important;
}
.padding_t{
	padding-top: 2rem !important;
}
.padding_b{
	padding-bottom: 2rem !important;
}
.alot.padding_l{
	padding-left: 4rem !important;
}
.alot.padding{
	padding: 4rem !important;
}
.alot.margined{
	margin: 4rem !important;
}
.alot.margined_b{
	margin-bottom: 4rem !important;
}
.alot.margined_t{
	margin-top: 4rem !important;
}
.alot.padding_x{
	padding-left: 4rem !important;
	padding-right: 4rem !important;
}
.alot.margined_x{
	margin-left: 4rem !important;
	margin-right: 4rem !important;
}
.alot.padding_y{
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
.alot.margined_y{
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}

.ui.statistic .label.initialcase{
    text-transform: initial;
}
.ui.statistic .label.lowercase{
    text-transform: lowercase;
}
.ui.statistic .value.initialcase{
    text-transform: initial;
}
.ui.statistic .value.lowercase{
    text-transform: lowercase;
}
.ui.statistic .label.initialcase.extra.content,
.ui.statistic .label.lowercase.extra.content{
    color: rgba(0,0,0,.5);
}

.lineheight{
	line-height: 1.3em;
}
.alot-lineheight{
	line-height: 2em;
}

.block_display{
	display: block !important;
}
.flex_display{
	display: flex !important;
}
.flowroot_display{
	display: flow-root !important;
}
.none_display{
	display: none !important;
}
.overflow_hidden{
	overflow: hidden;
}

.no_user_select{
	user-select: none;
}

.mud_green_color{
	color: #3b9c0e!important;
}

.no_border{
	border: none !important;
}
.ui.popup{
    background: #4c4747 !important;
    color: white !important;
	border-radius: 0.6em !important;
}

#main_background_div{
    transition: all .5s;
}

.disabled_text{
    color: rgba(0,0,0,.5) !important;
}

.large_text{
	font-size: 1.2em !important;
}

.ui.table thead tr:first-child>th:first-child{
	border-radius: 1em 0 0 0 !important;
}
.ui.table thead tr:last-child>th:last-child{
	border-radius: 0 1em 0 0 !important;
}
.ui.table{
	border-radius: 1em !important;
}