.secret_replace_list_segment{
    background: rgba(189,180,180,.1)!important;
    border-radius: 1em !important;
}
.secret_address_detail{
    padding: .42em .833em;
    background: rgba(0,0,0,.25);
    color: white;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    
}
.ui.label.secret_address{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: .5em !important;
    border-bottom-right-radius: .5em !important;
    background: rgb(218, 216, 216) !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.input>textarea{
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.5em;
    font-family: "Nunito SemiBold";
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    box-shadow: none;
    border-radius: 1em;
    text-align: center;
}
.ui.input>textarea::-webkit-input-placeholder{
    text-align:center !important;
}
.ui.fluid.input>textarea{
    width: 0!important;
}