.tronlink_background{
	background-color: #557fe8;
	color: white;
}

.tronlink_title{
	font-family: "Nunito SemiBold";
	font-size: 6em;
}

.tronlink_subtitle{
	font-family: "Sana";
}
.tronlink_download{
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}